* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text {
  font-family: 'Montserrat', sans-serif;
}
.style-text {
  font-family: 'Pacifico', cursive;
  color: #FD9D3E;
}
.btn-brand {
  font-weight: bold;
  color: #fff;
  background-color: #FD9D3E;
  border-radius: 30px;
  padding: 10px 20px;
}
